@media (max-width: 767px) {
    .container-phuchang {
        position: relative;
        max-width: 83.3333333333%;
        height: 160px;
        overflow: hidden;
        display: block;
        font-size: 35px;
        font-family: 'Alex Brush', cursive;
        font-weight: 400;
        display: block;
        text-align: center;
        line-height: 1.5em;
    }
    .container-phuchang .text-a,
    .container-phuchang .text-b,
    .container-phuchang .text-c
    {
        font-size: 2.625rem;
        font-family: "Great Vibes", cursive;
        color: #fff;
        font-weight: 100;
        text-shadow: 0px 4px 0px rgb(0 0 0 / 35%);
    }
    
    .container-phuchang .text-a {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .container-phuchang .text-b {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .container-phuchang .text-c {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .text-owner {
        font-size: 2.2rem;
        font-family: "Great Vibes", cursive;
        color: var(--primary-color);
        font-weight: 100;
    }
    .text-owenr-simple {
        color: black;
        font-size: 2.5rem;
        font-weight: bolder;
    }
    .text-owner-card {
        font-size: 2.2rem;
        font-weight: 600;
    }
}
@media (min-width: 768px) {
    .container-phuchang {
        position: relative;
        width: 390px;
        height: 190px;
        overflow: hidden;
        display: block;
        font-size: 35px;
        font-family: 'Alex Brush', cursive;
        font-weight: 400;
        display: block;
        text-align: center;
        line-height: 1.5em;
    }
    .container-phuchang .text-a,
    .container-phuchang .text-b,
    .container-phuchang .text-c
    {
        font-size: 3.025rem;
        font-family: "Great Vibes", cursive;
        color: #fff;
        font-weight: 100;
        text-shadow: 0px 4px 0px rgb(0 0 0 / 35%);
    }
    
    .container-phuchang .text-a {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .container-phuchang .text-b {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .container-phuchang .text-c {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .text-owner {
        font-size: 2.69rem;
        font-family: "Great Vibes", cursive;
        color: var(--primary-color);
        font-weight: 100;
        /* text-shadow: 0px 4px 0px rgb(0 0 0 / 35%); */
    }
    .text-owenr-simple {
        color: black;
        font-size: 2.5rem;
        font-weight: bolder;
    }
    .text-owner-card {
        font-size: 3.3rem;
        font-weight: 600;
    }
}


/* Footer CSS ovan */
.footer-section {
    text-align: center;
    margin-bottom: 100px;
}

.footer-section .col-xs-12 {
    width: 100%;
}

.footer-section .couple-name {
    background: url(../images/footer-couple-name-frame.png) center center / cover no-repeat local;
    width: 415px;
    height: 483px;
    margin: 0 auto 120px;
    padding-left: 45px;
    display: table;
    text-align: center;
}

.footer-section .couple-name h2 {
    font-family: "Great Vibes", cursive;
    font-size: 48px;
    font-size: 3rem;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    font-weight: 400;
}

.footer-section h3 {
    font-family: "Great Vibes", cursive;
    font-size: 48px;
    font-size: 3rem;
    margin: 0 0 0.2em;
    font-weight: 400;
}

@media (max-width: 767px) {
    .footer-section .couple-name h2 {
        font-size: 38px;
        font-size: 2.375rem;
    }
    .footer-section .couple-name {
        width: 300px;
        height: 349px;
        margin: 0 auto 80px;
        padding-left: 45px;
    }
    .footer-section h3 {
        font-size: 30px;
        font-size: 1.875rem;
    }
}

/* Scroll right */

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


@media (min-width: 768px) {
    #GROUP546, #BOX435 {
        width: 60px;
        height: 60px;
    }
    #GROUP546 {
        top: 30px;
    }
    #SHAPE443, #SHAPE445 {
        top: 10px;
        left: 10px;
    }
    #SHAPE439, #SHAPE440, #SHAPE441, #SHAPE442, #SHAPE443, #SHAPE445 {
        width: 40px;
        height: 40px;
    }
    #GROUP537 {
        right: 15px;
        bottom: 15px;
        width: 60px;
        height: 90px;
    }
}
@media (max-width: 767px) {
    #GROUP537 {
        right: 15px;
        bottom: 15px;
        width: 51px;
        height: 51px;
    }
    #GROUP537, #GROUP538 {
        width: 51px;
        height: 51px;
    }
    #GROUP546, #BOX435 {
        width: 50px;
        height: 50px;
    }
    #GROUP546.ladi-animation > .ladi-group {
        animation-delay: 0s;
    }
    #SHAPE445 {
        width: 33px;
        height: 33px;
        top: 7.576px;
        left: 8px;
    }
}

#GROUP537 {
    top: auto;
    left: auto;
    position: fixed;
    z-index: 90000050;
}
.ladi-element {
    position: absolute;
}
#GROUP546.ladi-animation > .ladi-group {
    animation-delay: 1s;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.ladi-group {
    position: absolute;
    width: 100%;
    height: 100%;
}
#BOX435 > .ladi-box {
    background-color: rgb(121, 113, 113);
    border-radius: 100px;
}
.ladi-box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ladi-transition {
    transition: all 150ms linear 0s;
}
.ladi-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#SHAPE445 svg:last-child {
    fill: rgb(255, 255, 255);
}

/* FOOTER UPDATE 2024/10/13 */
@media (max-width: 767px) {
    #PARAGRAPH81 {
        top: 380px;
        left: 0px;
        width: 420px;
    }
    #PARAGRAPH81.ladi-animation > .ladi-paragraph, #HEADLINE96.ladi-animation > .ladi-headline {
        animation-name: fadeInUp;
        animation-delay: 0s;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }
    #PARAGRAPH81 > .ladi-paragraph {
        font-family: "Dancing Script", cursive;
        font-size: 20px;
        line-height: 1.4;
        color: rgb(77, 77, 77);
        letter-spacing: 0px;
        text-align: center;
    }
    
    .ladi-paragraph {
        width: 100%;
        display: inline-block;
        word-break: break-word;
    }
    .ladi-transition {
        transition: all 150ms linear 0s;
    }
    #HEADLINE96 {
        width: 272px;
        top: 450px;
        left: 72.1955px;
        padding-bottom: 40px;
    }
    #HEADLINE96 > .ladi-headline {
        font-family: VVRNIEEmUyBIZWFydGJlYXQudHRm;
        font-size: 50px;
        line-height: 1.6;
        color: rgb(139, 91, 19);
        letter-spacing: 3px;
        text-align: center;
    }
    .ladi-headline {
        width: 100%;
        display: inline-block;
        word-break: break-word;
        background-size: cover;
        background-position: center center;
    }
}
@media (min-width: 768px) {
    #PARAGRAPH81 {
        top: 520px;
        left: 0px;
        width: 100%;
    }
    #PARAGRAPH81.ladi-animation > .ladi-paragraph, #HEADLINE96.ladi-animation > .ladi-headline {
        animation-name: fadeInUp;
        animation-delay: 0s;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }
    #PARAGRAPH81 > .ladi-paragraph {
        font-family: "Dancing Script", cursive;
        font-size: 30px;
        line-height: 1.4;
        color: rgb(77, 77, 77);
        letter-spacing: 0px;
        text-align: center;
    }
    
    .ladi-paragraph {
        width: 100%;
        display: inline-block;
        word-break: break-word;
    }
    .ladi-transition {
        transition: all 150ms linear 0s;
    }
    #HEADLINE96 {
        width: 100%;
        top: 600px;
        padding-bottom: 40px;
    }
    #HEADLINE96 > .ladi-headline {
        font-family: VVRNIEEmUyBIZWFydGJlYXQudHRm;
        font-size: 70px;
        line-height: 1.6;
        color: rgb(139, 91, 19);
        letter-spacing: 3px;
        text-align: center;
    }
    .ladi-headline {
        width: 100%;
        display: inline-block;
        word-break: break-word;
        background-size: cover;
        background-position: center center;
    }
}

/* Calender CSS */
.calendar-div {
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    border-radius: 10%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    padding: 20px;
}

.calendar-div .save-date {
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    line-height: 1.6;
    color: rgb(139, 91, 19);
    letter-spacing: 3px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid #000 !important;
    color: black;
}

td {
    cursor: pointer;
}

.col-red {
    color: red;
}

td:hover {
    transition: background-color 0.3s;
}

td:empty {
    cursor: default;
}

/* Hình tròn viền đỏ cho ngày 9, 10 */
td.day-9,
td.day-10 {
    color: #fff;
    font-weight: bold;
    background-color: red;
    border-radius: 50%;
    padding: 10px;
}
.addition-background-footer {
    /* background-image: url(../images/background/Backgrou-24.jpg); */
    background-image: url(../images/background/Backgrou-17.jpg);
    height: 765px;
}
.donate-area {
    background-image: url(../images/background/900-AM-22032023-3.png);
}
/* #row-1959964474 {
    background-color: #fff;
} */
 /* CSS HOP MUNG CUOI */
 #donate {  
    position: relative;
    z-index: 0;
    
}
#donate .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
#donate .section-title-name {
    float: none;
    text-align: center;
    position: relative;
    padding-bottom: 35px;
    font-size: 60px;
    font-family: "Dancing Script", cursive;
}
.section-title-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 189px;
    max-width: 189px;
    height: 24px;
    background-repeat: no-repeat;
    background-position-x: center;
    transform: translateX(-50%);
    background-image: url('../images/download.svg');
}
/* donate box */
.map-info-container .info-wrapper .location-info {
    /* border-color: rgb(223, 195, 195); */
    background-color: rgb(246, 238, 244);
    border: 10px solid #fda7a7;
    padding: 30px;
    display: inline-block;
    position: relative;
    z-index: 10;
    text-align: center;
    width: 100%;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
.map-info-container .info-wrapper .location-info .neela-style {
    --offset: 9px;
    --border-size: 1px;
    color: #000;
    position: relative;
    padding: 24px 12px;
}
.map-info-container .info-wrapper .location-info .neela-style .h-lines {
    border-top-color: rgba(19, 18, 18, 0.5);
    border-bottom-color: rgba(19, 18, 18, 0.5);
}
.map-info-container .info-wrapper .location-info .neela-style .v-lines {
    border-left-color: rgba(19, 18, 18, 0.5);
    border-right-color: rgba(19, 18, 18, 0.5);
}

.h-lines {
    --vertical-offset: calc(var(--offset)* -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
    top: calc(var(--border-size)* -1);
    bottom: calc(var(--border-size)* -1);
}
.v-lines {
    --horizontal-offset: calc(var(--offset)* -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
    right: calc(var(--border-size)* -1);
    left: calc(var(--border-size)* -1);
}
.v-lines::before {
    top: calc(var(--offset) - var(--border-size));
    bottom: calc(var(--offset) - var(--border-size));
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}

.h-lines, .v-lines {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform .8s ease;
    will-change: transform;
    z-index: -1;
}
.h-lines::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--offset) - var(--border-size));
    right: calc(var(--offset) - var(--border-size));
}

.h-lines::before, .v-lines::before {
    content: "";
    position: absolute;
    border: inherit;
}
.map-info-container .info-wrapper .location-info h4 {
    float: none;
    margin: 0 auto 25px;
    position: relative;
    display: inline-block;
    font-family: 'Marmelad', sans-serif;
    font-weight: 700;
    font-size: 25pt;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-align: center;
}
.map-info-container .info-wrapper .location-info .fs-5 {
    font-size: 1.25rem !important;
}
.map-info-container .info-wrapper .location-info .qr-code-image {
    max-height: 160px;
    display: block;
    cursor: zoom-in;
}
.map-info-container .info-wrapper .location-info .mb-2 {
    margin-bottom: .5rem !important;
}
.map-info-container .info-wrapper .location-info .m-auto {
    margin: auto !important;
}
.map-info-container .info-wrapper .location-info .info-map-divider {
    position: relative;
    width: 100%;
    height: 19px;
    margin: 30px 0;
}
.map-info-container .info-wrapper .location-info .info-map-divider::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 19px;
    background-position: center center;
    background-image: url('../images/download_1.svg');
    background-repeat: no-repeat;
    background-color: #f15a5a;;
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: .5;
}
.map-info-container .info-wrapper .location-info .neela-style {
    --offset: 9px;
    --border-size: 1px;
    position: relative;
    padding: 24px 12px;
}

/* PC */
@media (min-width: 768px) {
    th, td {
        font-weight: bold;
        padding: 10px;
        text-align: center;
        font-size: 22px;
        color: #333;
        border: none;
        position: relative;
    }
    td {
        font-size: 18px;
    }
    .donate-box .justify-content-center {
        justify-content: center !important;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y)* -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .donate-box .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .donate-box .map-info-container {
        position: relative;
        margin-bottom: 50px;
    }
    .map-info-container .info-wrapper {
        margin-top: 10%;
        z-index: 1;
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    
}
/* SP */

.wedding-verse {
    font-family: "Dancing Script", cursive;
    font-size: 32px;
    line-height: 1.1;
    color: rgb(221, 17, 17);
    letter-spacing: 0px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}
@media (max-width: 900px) {
    .calendar-div {
        width: 90%;
        height: 65%;
    }
}
@media (max-width: 800px) {
    .calendar-div {
        width: 95%;
    }
    .calendar-div .save-date {
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    #PARAGRAPH81 {
        top: 380px;
        left: 0px;
        width: 100%;
    }
    #HEADLINE96 {
        width: 100%;
        top: 450px;
        left: 0px;
        padding-bottom: 40px;
    }
    th, td {
        font-weight: bold;
        padding: 7px;
        text-align: center;
        font-size: 14px;
        color: #333;
        border: none;
        position: relative;
    }
    td {
        font-size: 14px;
    }
    #donate {
        background-image: url(../images/background/Backgrou-24.jpg);
    }
    #donate .row-custom {
        margin: auto;
        display: contents;
    }
    .donate-box {
        text-align: center;
    }
    .donate-box .row {
        display: inline-block !important;
    }
    .map-info-container {
        position: relative;
        margin-bottom: 50px;
    }
    .addition-background-footer {
        background-image: url(../images/background/Backgrou-24.jpg);
        /* background-image: url(../images/background/Backgrou-17.jpg); */
        height: 665px;
    }
}
@media (max-width: 700px) {
    
}
@media screen and (max-width: 600px) {
    .calendar-div {
        width: 95%;
        height: 78%;
    }
}
@media (min-width: 576px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (max-width: 550px) {
    .text-owner {
        font-size: 1.8rem;
    }
    .calendar-div .save-date {
        font-size: 40px;
    }
    .calendar-div {
        width: 90%;
    }
    th, td {
        font-weight: bold;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        color: #333;
        border: none;
        position: relative;
    }
    td {
        font-size: 16px;
    }
}
@media (max-width: 380px) {
    .text-owner {
        font-size: 1.65rem;
    }
    th, td {
        font-weight: bold;
        padding: 7px;
        text-align: center;
        font-size: 14px;
        color: #333;
        border: none;
        position: relative;
    }
    td {
        font-size: 14px;
    }

}
@media (max-width: 330px) {
    .text-owner {
        font-size: 1.5rem;
    }
    .container-phuchang .text-a, .container-phuchang .text-b, .container-phuchang .text-c {
        font-size: 2.2rem;
    }
    th, td {
        font-weight: bold;
        padding: 7px;
        text-align: center;
        font-size: 14px;
        color: #333;
        border: none;
        position: relative;
    }
    td {
        font-size: 14px;
    }

}
@media (max-width: 300px) {
    .text-owner {
        font-size: 1.2rem;
    }
    .container-phuchang .text-a, .container-phuchang .text-b, .container-phuchang .text-c {
        font-size: 1.8rem;
    }
}
@media (max-width: 245px) {
    .text-owner {
        font-size: 1.1rem;
    }
}